DB_URL=(mongo db database url)
JWT_VALIDATION_KEY=(secret passkey for token generation authentication)
JWT_SECRET_KEY=(secret key for generating tokens)

# create .env.development if in a development environment (\.set NODE_ENV=development)
# otherwise create .env.production (\.set NODE_ENV=production)